.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: lightblue;
  padding: 10px;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 10px;
  background-color: lightgreen;
}

.centeredContent {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: lightpink;
}

.sideNavContent {
  flex: 1;
  padding: 10px;
  background-color: lightyellow;
  width: auto;
  height: 100%;
}
