<div class="container">
  <app-tool-bar></app-tool-bar>
  <mat-sidenav-container class="content">
      <mat-sidenav mode="side" opened class="sideNavContent">
        <app-side-nav-entry *ngFor="let entity of sideNavEntities" [route]="entity.route" [title]="entity.title"
                            [icon]="entity.icon"></app-side-nav-entry>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>






