<mat-card class="mat-card">
  <mat-toolbar>
    <mat-checkbox
      (change)="$event ? toggleAllRows() : null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()">
    </mat-checkbox>
    <button mat-icon-button *ngIf="selection.selected.length > 0" (click)="deleteSelected()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog()" color="primary">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button (click)="loadData()">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-toolbar>
      <button *ngIf="columnFilters.get('date')" mat-button (click)="delFilter('date')">
        Date: {{rangeRepresentation('date')}}
      </button>
      <button *ngIf="columnFilters.get('sys')" mat-button (click)="delFilter('sys')">
        Sys: {{rangeRepresentation('sys')}}
      </button>
      <button *ngIf="columnFilters.get('dia')" mat-button (click)="delFilter('dia')">
        Dia: {{rangeRepresentation('dia')}}
      </button>
      <button *ngIf="columnFilters.get('pulse')" mat-button (click)="delFilter('pulse')">
        Pulse: {{rangeRepresentation('pulse')}}
      </button>
      <button *ngIf="columnFilters.get('weight')" mat-button (click)="delFilter('weight')">
        Weight: {{rangeRepresentation('weight')}}
      </button>
    </mat-toolbar>
  </mat-toolbar>

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" class="mat-column-check">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell mat-column-check">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
        Date
        <mat-icon (click)="openRangeDialog('date'); $event.stopPropagation()">filter_list</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell">{{ formatDate(row.date) }}</td>
    </ng-container>

    <ng-container matColumnDef="sys">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
        Sys
        <mat-icon (click)="openRangeDialog('sys'); $event.stopPropagation()">filter_list</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell">{{ row.sys }}</td>
    </ng-container>

    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
        Dia
        <mat-icon (click)="openRangeDialog('dia'); $event.stopPropagation()">filter_list</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell">{{ row.dia }}</td>
    </ng-container>

    <ng-container matColumnDef="pulse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
        Pulse
        <mat-icon (click)="openRangeDialog('pulse'); $event.stopPropagation()">filter_list</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell">{{ row.pulse }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
        Weight
        <mat-icon (click)="openRangeDialog('weight'); $event.stopPropagation()">filter_list</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" class="mat-cell">{{ row.weight }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" class="mat-row">
    </tr>
  </mat-table>
</mat-card>
